*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    background: #203959;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
   
}
nav ul{
    display: flex;
    list-style: none;
}

nav li{
    padding: 0 20px;
}

nav li a{
    text-decoration: none;
    font-family: "Segoe Script";
    color: white;
    text-transform: uppercase;
}

nav li a:hover{
    color: #FFD500;
}
nav li a.active{
    color: #FFD500;
}
#mobile {
    display: none;
}
#mobile i{
color: #fff;
}

@media  screen and (max-width:768px){
    nav{
        padding: 20px 40px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 89px;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: #203959;
        padding: 40px 0 0 10px;
        transition: 0.1s ease-in-out;
    }

    nav ul.active{
        right: 0;
    }
    #mobile {
        display: block;
    }

    nav li{
        margin-bottom: 25px;
    }

    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}