.server-container{
    background: #203959;
}

.server-container img{
    margin-top: 100px;
    width: 400px;
}

.server-description{
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 100px;
    margin-top: 50px;
    font-family: Impact;
    color: #FFD500;
}

.server-info ul{
    margin-top: 30px;
}
.server-info ul li{
    color: white;
    text-align: left;
    margin-top: 10px;
}
.freebies h2{
    text-align: left;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
}
.freebies ul{
    margin-top: 30px;
}
.freebies ul li{
    color: white;
    text-align: left;
    margin-top: 10px;
}

.cap-reward{
    margin-top: 50px;
}
.pvp-wars{
    margin-top: 50px;
}
.pvp-wars ul li{
    text-align: center;
    list-style: none;
}

.promo-register{
    margin-top: 50px;
    color: #FFD500;
    font-family: impact;
    padding-bottom: 50px;
}
.promo-register h1{
    margin-bottom: 30px;
}
.promo-register ul li{
    color: white;
    margin-top: 10px;
}

@media  screen and (max-width:800px){
    .server-description{
        display: block;
        font-size: 15px;  
    }

   
    .server-info ul li{
        color: white;
        text-align: center;
    }
    .freebies{
        margin-top: 50px;
    }
    .freebies h2{
        text-align: center;
    }

    .freebies ul li{
        color: white;
        text-align: center;
    }

    .server-container img{
        width: 350px;
    }
}